@model IEnumerable<BlueDiamond.DataModel.Incident>

@{
    ViewBag.Title = "Incident";
}

<h2>Incidents</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th> @Html.DisplayNameFor(model => model.TaskNumber) </th>
        <th> @Html.DisplayNameFor(model => model.Name) </th>
        <th> @Html.DisplayNameFor(model => model.Opened) </th>
        <th> @Html.DisplayNameFor(model => model.Closed) </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td> @Html.DisplayFor(modelItem => item.TaskNumber) </td>
        <td> @Html.DisplayFor(modelItem => item.Name) </td>
        <td> @Html.DisplayFor(modelItem => item.Opened) </td>
        <td> @Html.DisplayFor(modelItem => item.Closed) </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IncidentID }) |
            @Html.ActionLink("Details", "Details", new { id=item.IncidentID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.IncidentID }) |
            @Html.ActionLink("Sign In", "SignIn", new { id = item.IncidentID })
        </td>
    </tr>
}

</table>
