@model IEnumerable<BlueDiamond.DataModel.Track>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th> @Html.DisplayNameFor(model => model.Name) </th>
        <th> Created </th>
        <th>@Html.DisplayNameFor(model => model.IncidentID)</th>
        <th>Download</th>
       <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td> @Html.DisplayFor(modelItem => item.Name)</td>
        <td> @Html.DisplayFor(modelItem => item.Core.Created)</td>
        <td> @Html.DisplayFor(modelItem => item.IncidentID)</td>
        <td> <a href=@Url.Action("Download", new { id = item.TrackID }) >GPX</a></td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id=item.TrackID }) |*@
            @Html.ActionLink("Details", "Details", new { id=item.TrackID }) |
            @*@Html.ActionLink("Delete", "Delete", new { id=item.TrackID })*@
        </td>
    </tr>
}

</table>
