@model BlueDiamond.DataModel.Member

@{
    ViewBag.Title = "Member";
}

<h2>Member Details</h2>

<div>
    <h4>@Html.DisplayFor(model => model.LastName), @Html.DisplayFor(model => model.FirstName)</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt> @Html.DisplayNameFor(model => model.FirstName) </dt>
        <dd> @Html.DisplayFor(model => model.FirstName) </dd>

        <dt> @Html.DisplayNameFor(model => model.LastName) </dt>
        <dd> @Html.DisplayFor(model => model.LastName) </dd>

        <dt> @Html.DisplayNameFor(model => model.PhoneNumber) </dt>
        <dd> @Html.DisplayFor(model => model.PhoneNumber) </dd>

        <dt> @Html.DisplayNameFor(model => model.Agency.Name) </dt>
        <dd> @Html.DisplayFor(model => model.Agency.Name) </dd>

        <dt> @Html.DisplayNameFor(model => model.Core.Created) </dt>
        <dd> @Html.DisplayFor(model => model.Core.Created) </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MemberID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
